[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
furo = "*"

[dev-packages]
twine = "*"
build = "*"
pytest = "*"
vermin = "*"
pylint = "*"
sphinx = "*"
tox = "*"

[requires]
python_version = "3.11"
